<div class="wrapper">
  <div class="top">
   <%= image_tag 'zguy.jpg'  %>
   <%= image_tag 'top.png', id: "top"  %>
    <h2 class="text-center" id="title">Ghislain Chavanne</h2>
    <h4>Développeur Full-Stack</h4>
  </div>
  <div class="social">
    <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
        <button type="button" data-toggle="modal" data-target=".bs-example-modal-sm">
        </button>
          <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500">
            <div class="carousel-inner" role="listbox">
              <div class="item active" style="background-image: url('<%= image_path("pic1.png") %>');">
              </div>
              <div class="item" style="background-image: url('<%= image_path("pic2.png") %>');">
              </div>
              <div class="item" style="background-image: url('<%= image_path("pic3.png") %>');">
              </div>
              <div class="item" style="background-image: url('<%= image_path("pic4.png") %>');">
              </div>
              <div class="item" style="background-image: url('<%= image_path("pic5.png") %>');">
              </div>
            </div>
          </div>
          <div class="text-card">
            <h4>Projets</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
        <button type="button" data-toggle="modal" data-target=".bs-example-modal-sm1">
        </button>
          <div class="img">
            <i class="fa fa-tasks" aria-hidden="true"></i>
          </div>
          <div class="text-card">
            <h4>Skills</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
        <button type="button" data-toggle="modal" data-target=".bs-example-modal-sm2">
        </button>
          <div class="img">
            <i class="fa fa-telegram" aria-hidden="true"></i>
          </div>
          <div class="text-card">
            <h4>Contact</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>

      <h2>QUELQUES PROJETS</h2>
      <a href="">Professeur Assistant au Wagon</a><br>
      <a href="">Docéo-Éducation</a><br>
      <a href="">Apéro-Boulot</a><br>
      <a href="">Chavanne & Witt Avocats</a><br>
      <a href="">Altaréa Cogedim</a><br>
      <a href="">Mon Spécialiste Auto</a><br>
      <div style="margin-top: 30px;">
      <strong><a href="">Retrouvez tous mes projets sur Hopwork</a></strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h2>SKILLS</h2>
        <p>Diplômé de l’École Supérieure de Commerce de Rennes (ESC Rennes), j'ai suivi la formation de développement web au sein du "Wagon". <br><br>

        Créatif et passionné, je suis disponible pour vous accompagner dans la réalisation de votre projet 2.0 ! Constamment à l'écoute des nouvelles tendances web, j'ai développé des compétences solides en Ruby on Rails, HTML5, CSS3, JAVASCRIPT, Intégration web etc. <br><br>

        Je suis curieux et à l'écoute et les challenges ne me font pas peur ! <br>
        </p>
    </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h2>CONTACT</h2>
      <p><strong>Tél :</strong> 06 50 80 58 98</p>
      <p><strong>Mail :</strong> gh.chavanne@gmail.com</p>
    </div>
  </div>
</div>


